*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url("https://i.pinimg.com/236x/06/d5/59/06d55986fe835bcb140329ddd0b30f31.jpg");
    /* background-repeat: no-repeat; */
}
.container{
    width: 700px;
    background-color: #76b9f4;
    border: 3px solid #4223ae;
    /* padding-left: 75px; */
    /* padding-right: 75px; */
    padding: 30px 100px;
    margin: 25px 10px;
    border-radius: 15px;
    box-sizing: border-box;
}
#firstpara{ 
    /* padding-top: 1px; */
    padding-left: 25px;
    padding-right: 25px;
}
#secondpara{
    padding-left: 25px;
    padding-right: 25px;
}
h3{
padding-left: 25px;
padding-top: 20px;
}